<%= form_for(@article, :html => { :multipart => true }) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <div class="clearfix">
      <%= f.label :title %>
      <div class="input"><%= f.text_field :title %></div>
    </div>
    <div class="clearfix">
      <%= f.label :description %>
      <div class="input"><%= f.text_area :description, :rows => "3", :columns => "" %></div>
    </div>
    <div class="clearfix">
      <div class="input"><%= f.file_field :media %></div>
    </div>
    <div class="actions">
      <input type="submit" value="Save changes" class="btn primary">
      <%= link_to 'Cancel', articles_path, :class => "btn" %>
    </div>
  </fieldset>
<% end %>
