<h1>All Articles <%= link_to "", articles_path(:rss), :class => "iconic rss" %></h1>

<table class="zebra-striped">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Media</th>
    <th></th>
    <th></th>
  </tr>

<% @articles.each do |article| %>
  <tr>
    <td><%= link_to article.title, article %></td>
    <td><%= article.description %></td>
    <td><%= article.media.url %></td>
    <td><%= link_to 'Edit', edit_article_path(article), :class => "btn" %></td>
    <td><%= link_to 'Destroy', article, confirm: 'Are you sure?', method: :delete, :class => "btn danger" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Article', new_article_path, :class => "btn primary" %>
